<!DOCTYPE html>
<html>
<head>
    <title>Uploaded Files</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <h2>Uploaded Files</h2>
    <ul>
        {% for file in files %}
            <li><a href="{{ url_for('uploaded_file', filename=file) }}" target="_blank">{{ file }}</a></li>
        {% endfor %}
    </ul>
    <a href="/">Back to Upload</a>
    <a href="/logout">Logout</a>
</div>
</body>
</html>
